[submodule "GPT_Nano_Recreation"]
	path = GPT_Nano_Recreation
	url = https://github.com/Soham4001A/LMA_GPT_Nano
[submodule "CIFAR-10"]
	path = CIFAR-10
	url = https://github.com/Soham4001A/pytorch-cifar-DAG
[submodule "CleanRL"]
	path = CleanRL
	url = https://github.com/Soham4001A/CleanRLfork
[submodule "CIFAR-100"]
	path = CIFAR-100
	url = https://github.com/Soham4001A/ViT-LMA
